<html>

<h2>
Dumblr Blog v4
</h2>

<span>
  <a href="/posts/new">Write new post</a>
</span>
<br /><br /><br />

<div>
  <%= for post <- posts do %>
  <div>
    <b><%= post.user %></b> wrote <b><%= post.title %></b>
    <p><%= post.content %></p>
    <br />
  </div>
  <% end %>
</div>

</html>
